<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %> <br />
9 Rue du Canon d'Arcole Toulouse - <script type="text/javascript">document.write(
"<n uers=\"znvygb:pbagnpg\100gnh\056fb\">znvygb:pbagnpg\100gnh\056fb<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script> - 09 51 67 08 14 - @taucw
</p>
<p><a href="http://tau.us4.list-manage.com/subscribe?u=fbc6f8a60dfdea7786f103d47&id=2abdb962c2">Newsletter</a> - <a href="https://twitter.com/taucw">Twitter</a> - <a href="http://tau.so/blog/feed.rss">RSS</a> - <a href="http://www.facebook.com/tau.coworkingtoulouse">Facebook</a></p>
