<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %> <br />
9 Rue du Canon d'Arcole Toulouse - <script type="text/javascript">document.write(
"<n uers=\"znvygb:pbagnpg\100gnh\056fb\">znvygb:pbagnpg\100gnh\056fb<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script> - 09 51 67 08 14 - @taucw
</p>
