h1,h2,h3,h4,h5,h6 { font-family: Georgia, serif; font-weight: 400 }

body {
  background: #fff url('bgsite.png') right top no-repeat;
  font-family: Georgia, serif;
  font-size: 16px;
}

@media (max-width: 480px) {
  .brand {
    text-indent: -9000px;
  }
}
@media (max-width: 768px) {
  .brand {
    font-size: 14px !important;
    background: url('logo_mobile.png') left top no-repeat;
    height: 32px;
    line-height: 32px !important;
    margin-top: 5px !important;
    padding:5px 5px 5px 37px !important;
  }
}
@media (min-width: 769px) {
  .brand {
    text-indent: -9000px;
    width: 100px;
    height: 272px;
    position: absolute;
    top: 13px;
    left: 50%;
    margin-left: 53px !important;
    right:0;
    background: url('logo.png') left top no-repeat;
  }
}
footer p {
  padding-top: 3em;
  text-align: right;
  margin-right: 30px;

  font-size: 11px;
}
.navbar .nav {
  width: 100%;
  > li.last {
    float: right;
  }
}
.langs {
  font-variant: small-caps;
  ul { float: right;}
  li { list-style: none; display: inline }
  a { padding: 0 1em; }
}